<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Holiday Lights and Sounds</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

  </head>
  <body>
    <header>
      <div class="container">
            <img src="{{url_for('static', filename='img/logo.png') }}">
            <h1 class="logo">Holiday Lights and Sounds - Element14 Community</h1>
        <!-- <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('color') }}">Color Picker</a></li>
          </ul>
        </nav></strong> -->
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>